%h1 Todudi

%form.form-inline.well
  %label{for: "task_title"} Task Title:
  %input#task_title{type: "text"}
  %input.btn{type: "submit", value: "Add"}

#success.hide.alert.alert-success
#error.hide.alert.alert-error
